/* BACKGROUND */
body {
    background-color: floralwhite;
    margin: 0;
}

/* TEXT */
* {
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-style: italic;
    font-size: 22px;
    background-color: black;
    color: mistyrose;
    width: fit-content;
    padding: 5px;
    margin-left: 2%;
}

/* HEADER & NAV */
header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: black;
    color: mistyrose;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: floralwhite;
    padding: 0.5%;
}

.header-div {
    height: 2px;
    background-color: lightcoral;
}

/* ABOUT STYLE BLOCK */
.bio {
    background-color: lightcoral;
    padding: 1%;
    display: flex;
}

.bio img {
    height: 25%;
    width: 25%;
    margin-right: 2%;
    margin-left: 1%;
}

.bio p {
    margin-top: 5%;
}

.bio h2 {
    margin-top: 10%;
    margin-left: 0;
}

@media (max-width: 500px) {
    .bio {
        display: block;
        padding: 5%;
    }

    .bio img {
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    p, li {
        font-size: 14pt;
    }
}

/* DIVIDERS */
.content-div {
    height: 10px;
    background-color: black;
}

/* SKILLS EXP PROJECTS */
#experience p {
    margin-left: 2%;
}

.skill-section ul {
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skill-section li {
    border: 1px;
    border-color: #000000;
    border-style: solid;
    list-style: none;
    padding: 0.5%;
    margin: 0.75%;
}

#projects ul {
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#projects li {
    border: 1px;
    border-color: #000000;
    border-style: solid;
    list-style: none;
    padding: 0.5%;
    margin: 0.75%;
}

/* CONTACT */
.contact ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact li {
    border: 1px;
    border-color: black;
    border-style: solid;
    list-style: none;
    padding: 0.5%;
    margin: 0.75%;
}

#messageform input,
textarea,
button {
    background-color: lightcoral;
}

#messageform {
    margin-left: 2%;
}

#messages ul {
    display: flexbox;
}

/* FOOTER */
footer {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: mistyrose;
}